/* Container for the list */
.features-list {
  margin-top: 2rem;
}

/* List styles */
.rotating-features {
  list-style-type: none;
  padding: 0;
}

/* List item styles */
.feature-item {
  background-color: var(--theme1-light); /* Initial background color */
  padding: 1rem; /* Reduced padding for a more compact look */
  margin-bottom: 1rem; /* Spacing between items */
  font-size: 1.1rem; /* Reduced font size */
  font-weight: bold; /* Bold text for emphasis */
  border-radius: 10px; /* Rounded corners for the box */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 1s ease; /* Smooth background transition */
  animation: rotateBackgroundColors 2s infinite; /* Infinite color rotation */
  line-height: 1.4; /* Adjust line height for better spacing */
}

.feature-item::before {
  content: "➔"; /* Unicode character for the checkmark */
  margin-right: 0.5rem; /* Adjusted margin for better spacing */
  left: 0;
  color: var(--theme3-dark); /* Customize the color */
  font-size: 1.2em; /* Slightly reduced size for the arrow */
}

/* Optional: Add hover effect for a more interactive feel */
.feature-item:hover {
  transform: scale(1.03); /* Slightly reduce the enlargement on hover */
  transition: transform 0.3s ease;
}

.edora-text li {
  line-height: 1.6; /* Adjust line height for readability */
}
