.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--theme1-dark); /* Button color */
  color: var(--theme1-light); /* Text color */
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 32px; /* Increased arrow size */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures it's always on top */
}

.scroll-to-top-button:hover {
  background-color: var(--theme6-light); /* Button hover color */
  transform: translateY(-5px); /* Float up on hover */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
  color: var(--theme1-dark); /* Text color on hover */
}

.scroll-to-top-button:active {
  transform: scale(0.95); /* Slight press effect on click */
}
