.checkbox-group {
  display: flex;
  font-weight: 600;
  flex-direction: column;
  margin-top: 20px;
}

.checkbox-group-container {
  margin-bottom: 15px;
}

.checkbox-group-label {
  font-weight: bold;
  color: var(--theme1-dark);
  margin-top: 10px;
}

.checkbox-option {
  display: flex;
  position: relative;
  align-items: center;  
  margin-bottom: 1rem;
  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-custom {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: 15px;
  background-color: white;
  border: 2px solid #aaa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.checkbox-input:checked + .checkbox-custom {
  background-color: #4caf50; /* Change color when checked */
}

.checkbox-input:checked + .checkbox-option {
  background-color: #4caf50;   /* Background color for label */
  border-color: #4caf50; /* Border color for label */
  color: white; /* Text color for label */
}

.checkbox-error {
  color: red;
  margin-top: 5px;
}

.checkbox-large {
  font-size: 1.5rem; /* Increase font size for large checkboxes */
  padding: 10px; /* Add some padding for better touch targets */
}

.large-checkbox-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Create space between the items */
}

.checkbox-status {
  font-size: 1.5rem;
  font-weight: bold;
}

