.input-container {
  margin-bottom: 1.5rem; /* Spacing between inputs */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centers the input fields */
  margin: 0 auto;
  width: 100%; /* Ensure it doesn't exceed container */
}

/* Label styling */
.input-label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem; /* Slightly smaller font for labels */
  color: var(--theme1-dark);
}

.input-container {
  margin-bottom: 1.5rem; /* Spacing between inputs */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centers the input fields */
  margin: 0 auto;
  width: 100%; /* Ensure it doesn't exceed container */
}

/* Input field styles */
.input-field {
  width: 100%; /* Make input take full width of its container */
  max-width: 500px; /* Limit the input field's width */
  padding: 0.75rem 1rem;
  border: 1px solid var(--theme3-dark);
  border-radius: 0.375rem;
  background-color: var(--theme3-light);
  color: var(--theme1-dark);
  font-weight: 600;
  font-size: 1.2rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


/* Focus and hover states */
.input-field:focus {
  outline: none;
  border-color: var(--theme1-dark);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle shadow on focus */
}

.input-field:hover {
  border-color: var(--theme1-dark); /* Change border color on hover */
  background-color: var(--theme5-light);
}

/* Error state styles */
.input-field--error {
  border-color: var(--theme-alert3);
}

.input-field--error:focus {
  box-shadow: 0 0 5px rgba(255, 76, 76, 0.5); /* Red shadow for errors */
}

/* Error message styles */
.input-error {
  margin-top: 0.25rem;
  color: var(--theme-alert3);
  font-size: 0.875rem;
  font-weight: 500; /* Bold to make the error stand out */
}

/* Subtle transitions for the classy feel */
input,
label {
  transition: all 0.3s ease;
  font-weight: 700;
}

@media (max-width: 768px) {
  .input-field {
    max-width: 100%; /* Remove width constraints for smaller screens */
  }
}
