/* ListBox container styles */
.listbox-container {
  margin-bottom: 1.5rem; /* Spacing between list boxes */
}

/* Label styling */
.listbox-label {
  margin-bottom: 0.5rem;
  font-size: 1.4rem; /* Slightly smaller font for labels */
  color: var(--theme1-dark);
}

/* ListBox field styles */
.listbox-field {
  border: 2px inset var(--theme4-dark);
  border-radius: 0.375rem;
  background-color: var(--theme3-light);
  color: var(--theme1-dark);
}

/* ListBox option styles */
.listbox-option {
  padding: 0.75rem 1rem;
  cursor: pointer; /* Change cursor to pointer on hover */
  background-color: var(--theme3-light);
  color: var(--theme1-dark);
  font-weight: 600;
  transition: background-color 0.3s ease;
}

/* Selected state */
.listbox-option.selected {
  background-color: var(--theme1-dark); /* Highlight selected option */
  color: var(--theme6-light); /* Change text color for selected */
  font-weight: 700;
}

/* Hover state */
.listbox-option:hover {
  background-color: var(--theme1-dark); /* Light blue background on hover */
  color: var(--theme1-light)
}

/* Error state styles */
.listbox-field--error {
  border-color: var(--theme-alert3);
}

.listbox-field--error:focus {
  box-shadow: 0 0 5px rgba(255, 76, 76, 0.5); /* Red shadow for errors */
}

/* Error message styles */
.listbox-error {
  margin-top: 0.25rem;
  color: var(--theme-alert3);
  font-size: 0.875rem;
  font-weight: 500; /* Bold to make the error stand out */
}
