.prototype-section {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.menu-list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  gap: 20px; /* Add space between items */
  justify-content: center; /* Center all the list items */
  padding: 0; /* Remove default ul padding */
  list-style: none; /* Remove bullet points */  
}

.prototype-item {
  flex: 1 0 200px; /* Flex-grow: 1, Flex-shrink: 0, Base-width: 200px */
  min-width: 200px; /* Set minimum width for responsiveness */
  max-width: 300px; /* Optional: Control the maximum width of each item */
  margin-bottom: 10px; /* Optional: Add space between items */
  text-align: center; /* Center text inside the list item */
  border: 1px solid var(--theme3-dark); /* Optional: Add borders for clarity */
  box-sizing: border-box; /* Include padding in the width */
  background-color: var(--theme1-light);
  color: var(--theme1-dark);

}

.menu-link {
  display: block; /* Ensure the link fills the list item */
  padding: 10px;
  text-decoration: none; /* Remove underline */
  color: var(--theme3-dark); /* Link color */
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.menu-link:hover {
  background-color: var(--theme3-dark); /* Dark background on hover */
  color: var(--theme3-light); /* Light text on hover */
}

@media (max-width: 768px) {
  .menu-list {
    flex-direction: column; /* Stack items in a column */
    align-items:center; /* Stretch to take full width */
  }
  .prototype-item {
    flex: 1 0 auto; /* Allow items to take full width of the container */
    width: 100%; /* Ensure items take the full width in mobile view */
  }  
}         
