.prototype-section {
  width: 100%;
  margin: 0 auto 30px; /* Fixing margin and simplifying */
  padding: 20px;
}
.submenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.submenu a {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: var(--theme3-dark);
  transition: background-color 0.3s ease;
}

.submenu a:hover {
  background-color: var(--theme3-dark);
  color: var(--theme1-light);
}

.submenu a.active {
  background-color: var(--theme3-light);
  color: var(--theme1-dark);
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.prototype-item {
  text-align: center;
  border: 1px solid var(--theme3-dark);
  background-color: var(--theme1-light);
  color: var(--theme1-dark);
  padding: 10px; /* Adding padding for spacing */
  min-width: 150px; /* Ensuring a reasonable size */
  flex-grow: 1;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.prototype-item:hover {
  transform: translateY(-5px); /* Adding a simple hover effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.menu-link {
  display: block; /* Ensure the link fills the list item */
  padding: 10px;
  text-decoration: none; /* Remove underline */
  color: var(--theme3-dark); /* Link color */
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.menu-link:hover {
  background-color: var(--theme3-dark); /* Dark background on hover */
  color: var(--theme3-light); /* Light text on hover */
}

@media (max-width: 768px) {
  .menu-list {
    flex-direction: column; /* Stack items in a column */
    align-items: center; /* Stretch to take full width */
  }
  .prototype-item {
    flex: 1 0 auto; /* Allow items to take full width of the container */
    width: 100%; /* Ensure items take the full width in mobile view */
  }
  .submenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .submenu a {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: var(--theme3-dark);
    transition: background-color 0.3s ease;
  }

  .submenu a:hover {
    background-color: var(--theme3-dark);
    color: var(--theme1-light);
  }

  .submenu a.active {
    background-color: var(--theme3-light);
    color: var(--theme1-dark);
  }
}
