/* CSS specific to .disability */
.disability {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: var(--theme3-light);
  color: var(--theme1-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.disability h1,
.disability h2 {
  color: var(--theme3-dark);
  text-shadow: var(--text-shadow-light);
}

.disability h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.disability h2 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.disability p {
  margin-bottom: 15px;
}

.disability ul {
  list-style-type: disc;
  margin-left: 20px;
}

.disability ul li {
  margin-bottom: 10px;
}
