.home-container {
  color: var(--theme1-dark);
  max-width: 1000px; /* This helps in centering */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centers the container horizontally */
}
/* Container for the list */
.features-list {
  margin-top: 2rem;
}
/* List styles */
.rotating-features {
  list-style-type: none;
  padding: 0;
}

/* List item styles */
.feature-item {
  background-color: var(--theme1-light); /* Initial background color */
  padding: 1.5rem; /* Nice large padding */
  margin-bottom: 1rem; /* Spacing between items */
  font-size: 1.25rem; /* Larger font */
  font-weight: bold; /* Bold text for emphasis */
  border-radius: 10px; /* Rounded corners for the box */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 1s ease; /* Smooth background transition */
  animation: rotateBackgroundColors 2s infinite; /* Infinite color rotation */
}
.feature-item::before {
  content: "➔"; /*  Unicode character for the checkmark */
  margin-right: 1rem;
  left: 0;
  color: var(--theme3-dark); /* You can customize the color */
  font-size: 1.5em; /* Adjust size as needed */
}

/* Optional: Add hover effect for a more interactive feel */
.feature-item:hover {
  transform: scale(1.05); /* Slightly enlarge the box on hover */
  transition: transform 0.3s ease;
}

.edora-text li {
  line-height: 1.6; /* Adjust line height for readability */
}
