/* CSS specific to .juvenile-justice */
.juvenile-justice {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: var(--theme3-light);
    color: var(--theme1-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.juvenile-justice h1, .juvenile-justice h2 {
    color: var(--theme3-dark);
    text-shadow: var(--text-shadow-light);
}

.juvenile-justice h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.juvenile-justice h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.juvenile-justice p {
    margin-bottom: 15px;
}

.juvenile-justice ul {
    list-style-type: disc;
    margin-left: 20px;
}

.juvenile-justice ul li {
    margin-bottom: 10px;
}
