/* styles/App.css */
.align-center {
  display: flex; /* Establishes flex context */
  flex-direction: column; /* Stack children vertically *  /    
    justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
/* Basic styles for selection */
::selection {
  color: var(--theme3-light); /* Text color for selected text */
  background: var(--theme3-dark); /* Fallback if needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    padding: 1.2rem; /* Less padding on smaller screens */
  }

  .flex-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
}
