:root {
  /* Primary */
  --theme3-dark: rgb(60, 179, 113); /* Seafoam */
  --theme3-light: rgb(241, 250, 245); /* Pale Mint */
  --theme3-dark-contrast:rgb(245, 245, 245);
  --theme3-light-contrast: rgb(33, 33, 33); 
  --theme3-gradient: linear-gradient(135deg, var(--theme6-light), var(--theme1-light));

  --theme1-dark: rgb(74, 112, 108); /* Muted Forest */
  --theme1-light: rgb(245, 245, 220); /* Light Sand */

  --theme2-dark: rgb(107, 142, 35); /* Olive Green */
  --theme2-light: rgb(248, 248, 240); /* Ivory */

  --theme4-dark: rgb(157, 193, 131); /* Siege Green */
  --theme4-light: rgb(255, 245, 225); /* Pale Peach */

  --theme5-dark: rgb(138, 154, 91); /* Moss Green */
  --theme5-light: rgb(245, 245, 220); /* Light Sand */

  --theme6-dark: rgb(147, 197, 114); /* Pistachio Peach */
  --theme6-light: rgb(255, 245, 225); /* Pale Peach */

  --theme-alert1: rgb(218, 165, 32);
  --theme-alert2: rgb(255, 127, 80);
  --theme-alert3: rgb(101, 71, 11);     

  --text-shadow-light: 2px 2px 5px rgba(255, 255, 255, 0.4); /* Soft glowing white shadow */
  --text-shadow-medium: 0px 0px 5px rgba(255, 255, 255, 0.6); /* Fainter glow effect */
  --text-shadow-dark: -1px -1px 1px rgba(255, 255, 255, 0.5); /* Subtle inner glow */
}
@keyframes rotateColors {
  0% {
    color: var(--theme1-light);
  }
  16.67% {
    color: var(--theme2-light);
  }
  33.34% {
    color: var(--theme3-light);
  }
  50% {
    color: var(--theme4-light);
  }
  66.67% {
    color: var(--theme5-light);
  }
  83.34% {
    color: var(--theme6-light);
  }
  100% {
    color: var(--theme1-light);
  } /* Reset to start */
}
/* Define the color rotation using keyframes */
@keyframes rotateBackgroundColors {
  0% {
    background-color: var(--theme1-light); /* Start color */
  }
  25% {
    background-color: var(--theme2-light);
  }
  50% {
    background-color: var(--theme3-light);
  }
  75% {
    background-color: var(--theme4-light);
  }
  100% {
    background-color: var(--theme5-light); /* Return to start color */
  }
}
/* Keyframes for the explosion animation */
@keyframes explode {
  0% {
    transform: scale(1); /* Original size */
    opacity: 1; /* Fully visible */
  }
  50% {
    transform: scale(1.5); /* Scale up */
    opacity: 0.5; /* Fade out */
  }
  100% {
    transform: scale(0); /* Scale down to disappear */
    opacity: 0; /* Fully transparent */
  }
}
