.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  -webkit-backdrop-filter: blur(10px); /* Apply a 10px blur */
  backdrop-filter: blur(10px); /* Apply a 10px blur */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure modal is on top of other content */
}

.modal-content {
  background: var(--theme6-light);
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close-btn {
  background-color: var(--theme6-dark);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  background-color: var(--theme2-dark);
}
