/* Navbar styles */
.dashboard-nav ul {
  display: flex;
  list-style-type: none;
  background-color: var(--theme5-dark);
  margin: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}

.dashboard-nav ul li {
  flex: 1;
  text-align: center;
}

.dashboard-nav ul li a {
  display: block;
  color: var(--theme3-light);
  padding: 0.8rem;
  text-decoration: none;
}

.dashboard-nav ul li a:hover {
  background-color: var(--theme2-light);
  color: var(--theme2-dark);
  border-radius: 50px;
}

/* Overview card styles */
.card {
  background-color: var(--theme3-light);
  padding-bottom: 1.5rem;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.tasks ul li {
  background-color: var(--theme5-light);
  color: var(--theme5-dark);
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
}

/* General list styling */
.styled-list {
  list-style-type: none; /* Removes bullets */
  padding: 0;
  margin: 0;
}

.styled-list li {
  background-color: var(--theme6-light);
  color: var(--theme6-dark);
  word-wrap: break-word; /* Ensure long words break on smaller screens */
  overflow-wrap: break-word;
  font-weight: 600; /* Match .tasks */
  margin-bottom: 1rem;
  padding: 1rem; /* Match .tas  ks */
  border-radius: 8px;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Lighter shadow */
  transition: transform 0.2s, box-shadow 0.2s;
}

.styled-list li:hover {
  transform: translateY(-5px); /* Hover effect */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

/* Floating action button (FAB) */
.fab {
  display: none; /* Hidden by default */
  z-index: 999;

  background-color: var(--theme3-dark);
  color: var(--theme5-light);
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}
.fab:hover {
  background-color: var(--theme2-dark);
}

/* Optional: If you want to only show the last 3 items instead */
/* Media query for smaller screens */
/* Responsive media query */
@media (max-width: 768px) {
  .overview {
    flex-direction: column;
  }
  .fab {
    display: flex; /* Show the FAB */
    z-index: 999;
  }
  .dashboard-nav ul {
    z-index: 998;
    top: 0;
    left: 0;
    width: 50%;

    display: flex;
    list-style-type: none;
    overflow: hidden;
    flex-direction: column;
    position: fixed;
    color: var(--theme4-dark);
    background-color: var(--theme4-light);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  /* If the menu is open, show it */
  .dashboard-nav.show ul {
    transform: translateX(0); /* Slide-in the menu */
  }
  .dashboard-nav ul li {
    background-color: var(--theme5-dark);
    color: var(--theme5-light);
  }
}
